:root {
    --light-bg-color: #adadad;
    --light-bg-flow: #f1f1f1;

    --light-bg1-flow: #AAA9A9;
    --light-bg2-flow: #C4C4C4;
    --light-bg3-flow: #E1E1E1;
    --light-bg4-flow: #EDEDED;

    --light-bg-game: #E8E8E8;
    --light-bg-note: #9E9E9E;

    --light-bg-copyright:#F5F5F5;
  }
.list-group-item-thame {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff0;
    border-right: 1px
 solid rgba(0,0,0,.125);
}
.bg-light-1{
    background: var(--main-bg-color);
}
.flow-thame-1{
    background: var(--main-bg-flow);
}
.flow-box-h{
    height: 135px;
}
.flow-box:nth-child(1),
.flow-box-color-1{
    background: var(--light-bg1-flow);
}
.container-thame-1,
.flow-box:nth-child(2),
.flow-box-color-2{
    background: var(--light-bg2-flow);
}
.flow-box:nth-child(3),
.flow-box-color-3{
    background: var(--light-bg3-flow);
}
.flow-box:nth-child(4),
.flow-box-color-4{
    background: var(--light-bg4-flow);
}
.navbar-light-1{
    height: 80px;
}
.slide-web{
    height: 200px;
    background: var(--light-bg2-flow);
}
.flow-thame-1{
    background: var(--light-bg-flow);
}
.game-thame-1{
    background: var(--light-bg-game);
}.content-box-img{
    background: var(--light-bg-note);
    height: 350px;
}
.content-box-note{
    background: var(--light-bg-game);
    height: 250px;
}
.copyright-bg-thame-1{
    background: var(--light-bg-copyright);
}
.copyright-thame-1 .copyright-bg-thame-1{
    height: 350px;
}
footer{
    background: var(--light-bg2-flow);
    height: 80px;
}
  .background-masker {
    background-color: #fff;
    position: absolute;
  }
  
  .btn-divide-left {
    top: 0;
    left: 25%;
    height: 100%;
    width: 5%;
  }
  
  @keyframes placeHolderShimmer {
    0% {
      background-position: -800px 0
    }
    100% {
      background-position: 800px 0
    }
  }
  
  .animated-background {
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 70px;
    position: relative;
  }
  
  .static-background {
    background-color: #f6f7f8;
    background-size: 800px 104px;
    height: 70px;
    position: relative;
    margin-bottom: 20px;
  }
  
  .shared-dom {
    width: 800px;
    height: 110px;
  }
  .sub-rect {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    float: left;
    margin: 20px 20px 20px 0;
  }
  .pure-background {
    background-color: #eee;
  }
  
  .css-dom:empty {
    width: 280px;
    height: 220px;
    border-radius: 6px;
    box-shadow: 0 10px 45px rgba(0, 0, 0, .2);
    background-repeat: no-repeat;
    
    background-image:
      radial-gradient(circle 16px, lightgray 99%, transparent 0),
      linear-gradient(lightgray, lightgray),
      linear-gradient(lightgray, lightgray),
      linear-gradient(lightgray, lightgray),
      linear-gradient(lightgray, lightgray),
      linear-gradient(#fff, #fff); 
    
    background-size:
      32px 32px,
      200px 32px,
      180px 32px,
      230px 16px,
      100% 40px,
      280px 100%;
    
    background-position:
      24px 30px,
      66px 30px,
      24px 90px,
      24px 142px,
      0 180px,
      0 0;
  }