:root {
    --light-bg-color: #adadad;
    --light-bg-flow: #f1f1f1;

    --light-bg1-flow: #AAA9A9;
    --light-bg2-flow: #C4C4C4;
    --light-bg3-flow: #E1E1E1;
    --light-bg4-flow: #EDEDED;

    --light-bg-game: #E8E8E8;
    --light-bg-note: #9E9E9E;

    --light-bg-copyright:#F5F5F5;
  }
.list-group-item-thame {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff0;
    border-right: 1px
 solid rgba(0,0,0,.125);
}
.bg-light-1{
    background: var(--main-bg-color);
}
.flow-thame-1{
    background: var(--main-bg-flow);
}
.flow-box-h{
    height: 135px;
}
.flow-box:nth-child(1),
.flow-box-color-1{
    background: var(--light-bg1-flow);
}
.container-thame-1,
.flow-box:nth-child(2),
.flow-box-color-2{
    background: var(--light-bg2-flow);
}
.flow-box:nth-child(3),
.flow-box-color-3{
    background: var(--light-bg3-flow);
}
.flow-box:nth-child(4),
.flow-box-color-4{
    background: var(--light-bg4-flow);
}
.navbar-light-1{
    height: 80px;
}
.slide-web{
    height: 325px;
    background: var(--light-bg2-flow);
}
.flow-thame-1{
    background: var(--light-bg-flow);
}
.game-thame-1{
    background: var(--light-bg-game);
}.content-box-img{
    background: var(--light-bg-note);
    height: 350px;
}
.content-box-note{
    background: var(--light-bg-game);
    height: 250px;
}
.copyright-thame-1{
    background: var(--light-bg-copyright); 
}
.copyright-bg-thame-1{
    background: var(--light-bg-copyright);
}
.copyright-thame-1 .copyright-bg-thame-1{

}
footer{
    background: var(--light-bg2-flow);
}
.flow-thame .flow-box{
    margin-right: 15px;
    margin-top: 15px;
}
.footer-list > .list-group .list-group-item{
    background: transparent !important;
    border: 0 !important;
}