.list-group-item-thame {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff0;
    border-right: 1px
 solid rgba(0,0,0,.125);
}
.bg-light-1{
    background: #adadad;
}
.navbar-light-1{
    height: 80px;
}
.slide-web{
    height: 500px;
    background: #C4C4C4;
}
