.list-group-item-thame {
    position: relative;
    display: block;
    padding: 0.5rem 1rem;
    color: #212529;
    text-decoration: none;
    background-color: #fff0;
    border-right: 1px
 solid rgba(0,0,0,.125);
}
.bg-light-1{
    background: #adadad;
}
.flow-thame-1{
    background: #f1f1f1;
}
.flow-box{
    background: #f1f1f1;
}
.flow-box:nth-child(1){
    background: #AAA9A9;
}
.flow-box:nth-child(2){
    background: #C4C4C4;
}
.flow-box:nth-child(3){
    background: #E1E1E1;
}
.flow-box:nth-child(4){
    background: #EDEDED;
}
.navbar-light-1{
    height: 80px;
}
.slide-web{
    height: 500px;
    background: #C4C4C4;
}
